:root {
  --accent-color: #03a9f4;
  --main-color: #626262;
  --add-color: #b4ad9e;
}
body {
  font-family: "Robotto";
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  padding: 0;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header {
  padding-top: 71px;
  padding-bottom: 92px;
}
.container {
  width: 936px;
  margin: 0 auto;
  padding: 0 15px;
}
.list-nav {
  display: flex;
  justify-content: center;
}
.nav-item {
  margin-right: 99px;
}
.nav-link {
  color: #7d7d7d;
  font-family: Playfair Display;
  font-size: 14px;
  text-transform: uppercase;
}
.nav-link:focus {
  color: var(--accent-color);
}
.gallery-list {
  padding-bottom: 66px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* .gallery-item {
  margin-right: 61px;
} */
.gallery-text {
  margin-bottom: 32px;
  color: var(--main-color);
  font-family: Playfair Display;
  font-size: 14px;
  font-weight: 400;
}
.gallery-title {
  margin-bottom: 40px;
  color: var(--main-color);
  font-family: Playfair Display;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}
.gallery-info {
  color: var(--main-color);
  font-family: Playfair Display;
  font-size: 14px;
}
.gallery-img {
  margin-bottom: 62px;
}

.gallery-item:nth-child(n + 3) .gallery-img {
  margin-bottom: 32px;
}
.button {
  color: #626262;
  font-family: Playfair Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 20px 48px 21px 49px;
  background: #fff;
  border: 1px solid #626262;
  display: flex;
  margin: 0 auto;
}
